requests==2.26.0
beautifulsoup4==4.10.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_sci_sm-0.5.1/en_core_sci_sm-0.5.1.tar.gz
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
networkx==2.6.3
matplotlib==3.4.3
scikit-learn==1.0.1
nltk==3.6.5
jsonschema==3.2.0
